body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 800px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

cat {
	color: rgb(36, 33, 33);
	font-family: 'Courier New', Courier, monospace;
}

.button {
	background-color: #d4e72a;
	border: none;
	color: white;
	padding: 20px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 30px;
  }